---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1517677208171-0bc6725a3e60?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Care for your garments with our <br />
      <span class="text-accent dark:text-white highlight">Personalized Washing</span>
    </Fragment>

    <Fragment slot="subtitle">
      Each garment receives a meticulous and personalized treatment, ensuring an 
      individual wash without mixing with others. We dedicate ourselves to providing
       detailed attention to both our clients and their garments. Additionally, 
       enjoy the convenience of our free delivery service in areas close to our 
       Miraflores location.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Years', amount: '3' },
      { title: 'Employees', amount: '10' },
      { title: 'Clients', amount: '204' },
      { title: 'Deliverys', amount: '984' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our templates"
    subtitle="Etiam scelerisque, enim eget vestibulum luctus, nibh mauris blandit nulla, nec vestibulum risus justo ut enim. Praesent lacinia diam et ante imperdiet euismod."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Educational',
        description:
          'Morbi faucibus luctus quam, sit amet aliquet felis tempor id. Cras augue massa, ornare quis dignissim a, molestie vel nulla.',
        icon: 'tabler:template',
      },
      {
        title: 'Interior Design',
        description:
          'Vivamus porttitor, tortor convallis aliquam pretium, turpis enim consectetur elit, vitae egestas purus erat ac nunc nulla.',
        icon: 'tabler:template',
      },
      {
        title: 'Photography',
        description:
          'Duis sed lectus in nisl vehicula porttitor eget quis odio. Aliquam erat volutpat. Nulla eleifend nulla id sem fermentum.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    image={{
      src: 'https://images.unsplash.com/photo-1549037173-e3b717902c57?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus. Nulla facilisi. Vestibulum malesuada lacus."
    items={[
      {
        title: 'Guaranteed Quality',
        description:
          'Each garment is treated with utmost care using top-quality products, ensuring exceptional results with every wash.',
      },
      {
        title: 'Personalized Service',
        description:
          'We tailor our services to meet the specific needs of each customer, offering customized solutions for the care of their garments.',
      },
      {
        title: 'Convenience',
        description:
          'We make your daily life easier with additional services like free home delivery in nearby areas, for your utmost convenience.',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our locations"
    tagline="Find us"
    columns={2}
    items={[
      {
        title: 'Miraflores',
        description: 'Avenue José Pardo 1169',
      },
      {
        title: 'Pardo',
        description: 'Pardo',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->


</Layout>
